@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jomolhari&display=swap");
* {
  margin: 0;
}

body {
  background-color: #383639;
}

.principal {
  background-color: #383639;
  color: blanchedalmond;
  height: auto;
  padding-bottom: 10px;
}

table {
  background-color: white;
}

.total {
  height: auto;
  width: all;
  margin: auto;
  text-align: center;
  color: blanchedalmond;
  padding-top: 25px;
  background-color: #383639;
}

.principal .barra_principal {
  width: 70%;
  margin: auto;
}
.principal .pais {
  padding-right: 215px;
}
.principal h2 {
  text-align: center;
}

@media (max-width: 500px) {
  .pais {
    padding-right: 10px;
  }
}
.resultados {
  background-color: #383639;
  width: 70%;
  height: 600px;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
}
.resultados tr:hover {
  background-color: #817f83;
}

.footer {
  background-color: #383639;
  color: blanchedalmond;
  text-align: center;
  height: auto;
  width: all;
  font-family: "Archivo Black", sans-serif;
  font-size: 25px;
  padding-bottom: 100px;
}
.footer .api {
  font-size: 15px;
}

.navbar-brand, .navbar {
  font-family: "Anton", sans-serif;
  font-size: 20px;
}

.infectados {
  width: 350px;
  height: 200px;
  background: #F8D442;
  border-radius: 15px;
  padding: 20px;
  font-size: 10px;
  font-family: "Jomolhari", serif;
}
.infectados p {
  color: black;
  font-size: 45px;
}
.infectados p::after {
  content: " ";
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -10px;
  background: url(../img/cuarentena.png);
  background-size: 50px;
  background-repeat: no-repeat;
}
.infectados h3 {
  color: black;
}

.muertos {
  width: 350px;
  height: 200px;
  background: #F73738;
  border-radius: 15px;
  padding: 20px;
  font-family: "Jomolhari", serif;
}
.muertos p {
  color: black;
  font-size: 45px;
}
.muertos p::after {
  content: " ";
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -10px;
  background: url(../img/triste.png);
  background-size: 50px;
  background-repeat: no-repeat;
}
.muertos h3 {
  color: black;
}

.recuperados {
  width: 350px;
  height: 200px;
  background: #73D673;
  border-radius: 15px;
  padding: 20px;
  font-family: "Jomolhari", serif;
}
.recuperados p {
  color: black;
  font-size: 45px;
}
.recuperados p::after {
  content: " ";
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -10px;
  background: url(../img/sonreir.png);
  background-size: 50px;
  background-repeat: no-repeat;
}
.recuperados h3 {
  color: black;
}

.nuevos {
  width: 350px;
  height: 200px;
  background: #7498C4;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  margin-bottom: 15px;
  font-family: "Jomolhari", serif;
}
.nuevos p {
  color: black;
  font-size: 45px;
}
.nuevos p::after {
  content: " ";
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -10px;
  background: url(../img/mas.png);
  background-size: 50px;
  background-repeat: no-repeat;
}
.nuevos h3 {
  color: black;
}

.n_muertos {
  width: 350px;
  height: 200px;
  background: #F7A740;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  font-family: "Jomolhari", serif;
}
.n_muertos p {
  color: black;
  font-size: 45px;
}
.n_muertos p::after {
  content: " ";
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -10px;
  background: url(../img/menos.png);
  background-size: 50px;
  background-repeat: no-repeat;
}
.n_muertos h3 {
  color: black;
}

.cuerpo {
  background-color: #383639 !important;
  width: all;
  height: all;
}

@media (min-width: 300px) {
  .infectados, .n_muertos, .muertos, .recuperados, .nuevos {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .n_muertos, .nuevos {
    padding-top: 0;
  }
}
.mexico {
  background-image: linear-gradient(to right, #73D673, white, #F73738);
  font-weight: bold;
  color: black;
  border-radius: 5px;
}
.mexico table {
  border-radius: 5px;
}