@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
/* line 4, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
* {
  margin: 0;
}

/* line 8, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.principal {
  background-color: #383639;
  color: blanchedalmond;
  height: auto;
  padding-bottom: 10px;
}

/* line 14, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
table {
  background-color: white;
}

/* line 17, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.total {
  height: auto;
  width: all;
  margin: auto;
  text-align: center;
  color: blanchedalmond;
  padding-top: 25px;
  background-color: #383639;
}

/* line 28, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.principal .barra_principal {
  width: 70%;
  margin: auto;
}

/* line 32, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.principal .pais {
  padding-right: 215px;
}

/* line 35, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.principal h2 {
  text-align: center;
}

@media (min-width: 500px) {
  /* line 40, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
  .pais {
    padding-right: 10px;
  }
  /* line 43, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
  .resultados {
    height: 1500px;
  }
}

/* line 47, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.resultados {
  background-color: #383639;
  width: 70%;
  height: 600px;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 55, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.resultados tr:hover {
  background-color: #817f83;
}

/* line 61, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.footer {
  background-color: #383639;
  color: blanchedalmond;
  text-align: center;
  height: auto;
  width: all;
  font-family: 'Archivo Black', sans-serif;
  font-size: 25px;
}

/* line 69, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.footer .api {
  font-size: 15px;
}

/* line 73, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.navbar-brand, .navbar {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

/* line 80, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.infectados p {
  color: yellow;
  font-size: 50px;
}

/* line 86, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.muertos p {
  color: red;
  font-size: 50px;
}

/* line 92, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.recuperados p {
  color: green;
  font-size: 50px;
}

/* line 98, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.nuevos p {
  color: blue;
  font-size: 50px;
}

/* line 104, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.n_muertos p {
  color: orangered;
  font-size: 50px;
}

/* line 109, ../../../../wamp64/www/COVID/Covid-19/sass/estilos.scss */
.cuerpo {
  background-color: #383639;
  width: all;
  height: all;
}

/*# sourceMappingURL=estilos.css.map */