@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
body {
  background-color: #383639;
}

.cuerpo {
  background: #383639;
  width: all;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  color: blanchedalmond;
  padding-top: 15px;
  padding-bottom: 100px;
}

.textos {
  width: 70%;
  height: auto;
  justify-content: justify;
  margin: auto;
  padding-top: 10px;
}